/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* General body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  transition: background-color 0.5s, color 0.5s; /* Added transition */
}

/* Header styles */
header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Main section styling */
main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', Arial, sans-serif;
  transition: background-color 1s, color 1s; /* Added transition */
}

/* Section styling */
main section {
  margin-bottom: 20px;
}

main section h2 {
  margin-top: 0;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
}

/* Hyperlink colors */
a {
  color: #0077cc;
}

a:hover {
  color: #005fa3;
}

/* Dark mode styles */
.dark-mode {
  background-color: #121212;
}

.dark-mode main {
  background-color: #1e1e1e;
  color: #adabab;
}

/* Button styling */
button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #0077cc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 2s; /* Added transition */
}

button:hover {
  background-color: #005fa3;
}

button:active {
  transform: scale(0.98);
}

/* Dark mode button styling */
.dark-mode button {
  background-color: #1e88e5;
}

.dark-mode button:hover {
  background-color: #1565c0;
}

.dark-mode button:active {
  transform: scale(0.98);
}
